<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <div>
        <span class="m-3">Menu</span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon> highlight_off </mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-list role="list">
      <a
        mat-list-item
        *ngFor="let item of links"
        [href]="[item.link]"
        (click)="sidenav.toggle()"
      >
        <span> {{ item.name }}</span>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-raised-button class="ml-4">Logout</button>
  </mat-toolbar>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</mat-sidenav-container>
